<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Index</title>
</head>
<body>

<p th:text="${vacancy.toString()}">VALUE</p>

<br/>
<hr/>

<a th:href="@{/customers/{customer_id}/vacancies/{vacancy_id}/edit(customer_id=${vacancy.getCustomer().getId()}, vacancy_id=${vacancy.getId})}">
    <button type="button">РЕДАГУВАТИ</button></a>

<form th:method="DELETE" th:action="@{/customers/{customer_id}/vacancies/{vacancy_id}(customer_id=${vacancy.getCustomer().getId()}, vacancy_id=${vacancy.getId})}">
    <input type="submit" value="ВИДАЛИТИ">
</form>

</body>
</html>